name: Generate feed and update server

on:
  schedule:
    - cron:  '0,15,45 6 * * MON-FRI'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name : Install dependencies
        run: |
          sudo apt update
          sudo apt install python3-bs4 python3-dateutil
      - name : Set up SSH env
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan ${{ secrets.SERVER_URL }} > ~/.ssh/known_hosts
      - name: Get feeds and push to server
        run: |
          python3 get_podcasts.py  ${{ secrets.USERNAME }} ${{ secrets.PASSWORD }} morning > morning.xml
          python3 get_podcasts.py  ${{ secrets.USERNAME }} ${{ secrets.PASSWORD }} politics > politics.xml
          python3 get_podcasts.py  ${{ secrets.USERNAME }} ${{ secrets.PASSWORD }} tienimi-bordone > bordone.xml
          python3 get_podcasts.py  ${{ secrets.USERNAME }} ${{ secrets.PASSWORD }} il-podcast-del-post-su-sanremo > sanremo.xml
          python3 get_podcasts.py  ${{ secrets.USERNAME }} ${{ secrets.PASSWORD }} ci-vuole-una-scienza > scienza.xml
          sshpass -p ${{ secrets.SERVER_PASSWORD }} scp *.xml ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_URL }}:public_html
